<h2><a href="/pokemons">View all Pokemon</a></h2>

<h3>Fill form below to add pokemon to list</h3>

<form action="/pokemons" method="post" >
  <label>name: </label>
    <input name="name">
  <label>cp: </label>
    <input name="cp">
  <label>type: </label>
    <input name="poke_type">
  <label>image url: </label>
    <input name="img_url">

<input type="submit" value="Create">

</form>
